{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":14},"end":{"row":2,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"4d904e9d940a0263e8f271499c3b21a4f9af9278","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1560778292372}